* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

#ship-placement-container {
  margin-top: 50px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ship-to-place {
  display: flex;
}

#player-gameboard,
#com-gameboard {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  background-color: rgb(187, 187, 187);
  transition: background-color 0.5s ease-in-out;
}

/* #player-gameboard {
  pointer-events: none;
} */

.being-attacked .divCell:not(.hit, .missed, .sunk) {
  background-color: #fff;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.being-attacked .divCell:not(.hit, .missed, .sunk):hover {
  background-color: bisque;
}

.divRow {
  display: flex;
}

.divCell {
  border: 1px solid #000;
  width: 30px;
  height: 30px;
}

.missed {
  background-color: aqua;
  cursor: not-allowed;
  transition: background-color 0.5s ease-in-out;
}

.hit {
  background-color: rgb(255, 0, 30);
  cursor: not-allowed;
  transition: background-color 0.5s ease-in-out;
}

.sunk {
  background-color: rgb(40, 1, 5);
  cursor: not-allowed;
  transition: background-color 0.5s ease-in-out;
}

.ship {
  box-shadow: inset 0px 0px 0px 10px rgb(10, 40, 56);
  transition: background-color 0.5s ease-in-out;
}

#modal {
  position: fixed;
  left: 50%;
  top: 35%;
  height: 20vw;
  width: 30vw;
  border: 5px solid rebeccapurple;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}
