@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------------------*/

body {
  background-image: url(./img/background-img.png);
  height: 100vh;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

p {
  text-align: center;
  line-height: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
}

#modal-message {
  font-size: 2rem;
}

.player-side,
.com-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ship-placement-container {
  margin-top: 50px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.ship-to-place {
  display: flex;
}

.drag-icon {
  background-image: url(img/draganddrop.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: grab;
}

.no-drag {
  cursor: not-allowed;
}

.no-click {
  pointer-events: none;
}

#player-gameboard,
#com-gameboard {
  width: 300px;
  height: 300px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.divRow {
  display: flex;
}

.divCell {
  border: 0.2px solid rgb(205, 204, 204);
  width: 30px;
  height: 30px;
}

.prevent-drop,
.prevent-drop-surrounding {
  background-color: rgb(49, 49, 49);
}

.ship {
  /* box-shadow: inset 0px 0px 0px 1px rgb(10, 40, 56); */
  background-color: rgb(10, 40, 56);
  transition: background-color 0.5s ease-in-out;
}

.missed {
  background-color: aqua;
  cursor: not-allowed;
  transition: background-color 0.5s ease-in-out;
}

.hit {
  background-color: rgb(255, 0, 30);
  cursor: not-allowed;
  transition: background-color 0.5s ease-in-out;
}

.sunk {
  background-color: rgb(40, 1, 5);
  cursor: not-allowed;
  transition: background-color 0.5s ease-in-out;
}

#modal {
  position: fixed;
  left: 50%;
  top: 35%;
  height: 20vw;
  min-height: 200px;
  width: 30vw;
  min-width: 300px;
  background-color: rgb(10, 40, 56);
  transform: translate(-50%, -50%);
  padding: 15px;
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.hidden {
  display: none;
}

/* button */
.button-32 {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 50%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
